@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(209, 209, 209);
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  padding: 0;
  list-style: none;
}

h2 {
  color: #D14D72;
}

.fa-brands {
  font-size: 32px;
  color: #D14D72;
}

.card-white {
  width: 600px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.rounded-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.btn-pink {
  background-color: #D14D72;
padding: 16px 32px;
border-radius: 12px;
color: #FFFFFF;
font-weight: 700;
font-size: 20px;
transition: all 0.5s;
}

.btn-pink:hover {
  background-color: #000000;
}

#header p {
  margin-bottom: 56px;
}

.inline {
  display: flex;
  justify-content: center;
}
