.card-meal {
  background-image: url("/images/breakfast.jpg");
  height: 240px;
  background-size: cover;
  border-radius: 16px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 0px #ff0000;
  position: relative;
  transition: 2s;
  /* width: 30%; */
}

.card-meal h2 {
  z-index: 2;
}


.card-meal-gradient {
  position: absolute;
  z-index: 1;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  background-color: rgba(0, 0, 0, 0.4);
  transition: 2s;
}

.card-meal-gradient:hover {
  background-color: rgba(0, 0, 0, 0);
  /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); */
}

.card-meal-gradient:hover h2 {
  align-items: center;
  justify-content: center;
}

.cards-meal {
  flex-wrap: wrap;
  margin-top: 40px;
  display: flex;
  gap: 24px;
}

.card-product {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  gap: 16px;
}

.card-product img {
  width: 25%;
  object-fit: cover;
}

.card-trip {
  background-color: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-trip img {
  width: 100%;
}

.card-trip-footer {
  display: flex;
  align-items: flex-end;
  padding: 8px;
}
